# Core modules (mandatory)
jupyterlite-core==0.8.0
jupyterlab~=4.6.0
notebook~=7.6.0


# Python kernel (optional)
jupyterlite-pyodide-kernel==0.8.0

# Language support (optional)
#jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-ja-JP
jupyterlab-language-pack-ko-KR
jupyterlab-language-pack-zh-CN
jupyterlab-language-pack-zh-TW

# JupyterLab: Fasta file renderer (optional)
# jupyterlab-fasta>=3,<4
# JupyterLab: Geojson file renderer (optional)
# jupyterlab-geojson>=3,<4
# JupyterLab: guided tour (optional)
# jupyterlab-tour
# JupyterLab: dark theme
jupyterlab-night
# JupyterLab: Miami nights theme (optional)
# jupyterlab_miami_nights

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.3,<9
# Python: ipyevents library for Jupyter notebooks (optional)
ipyevents>=2.0.1
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2
# Python: ipycanvas library for Jupyter notebooks (optional)
ipycanvas>=0.9.1
# Python: ipyleaflet library for Jupyter notebooks (optional)
ipyleaflet

# Python: plotting libraries (optional)
plotly>=6,<7
bqplot

# Kobe Univ
japanize-matplotlib-jlite
jupyterlab-open-url-parameter
jupyterlab-filesystem-access
gapminder
# linearmodels==6.1
# lmdiag
pandas-datareader
otter-grader
py4conjoint
py4macro
py4etrics
pyodide-http
wooldridge
